@import "reset.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

.home {
    background-image: url(/Plant-Shop-Website/assets/img/Background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
   text-decoration: none;
   color: #fff
}

.home-nav ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 25px;
    padding-top: 20px;   
}

.home-nav ul li {
    padding: 0 20px;
}


.home-nav button {
    padding: 10px;
    border-radius: 10px;  
    border: none;
    background: #B7EAAF;
    font-size: 20px;
    cursor: pointer;
}

.main-box {
    padding: 0px 27%;
    margin-top: 140px;
   
}

.main-box h1 {
    font-size: 100px ; 
    text-align: center;
    font-weight: bolder;
    color: #F0FFEE;
    line-height: 110%;
}

.main-box h1 span {
    color: #D2FFCB;
}

.main-box .main-intro {
    color: #fff;
    opacity: 80%;
    font-size: 30px;
    text-align: center;
    line-height: 140%;
}

.main-btn {
    display: flex;
    justify-content: center;

}
.btn-watch {
    border: 2px solid white;
    margin-top: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 180px;
    height: 40px;
    cursor: pointer;
}

.main-icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.main-icons li {
    padding: 0 20px;
}

.try-service {
    margin: 50px 36%;
}

.row-2 {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.try-service button {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    color: white;
    background: #375739;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -5px 7px 9px 1px rgb(0 0 0 / 25%);
}
.try-span {
    color: #B7EAAF;
    font-size: 18px;
    font-weight: bold;
}
.try-explan {
    text-align: center;
    font-size: 18px;
}

.type-plants {
    width: 100%;
}

.type-plants-heading h2 {
    font-size: 40px;
    text-align: center;
    color: #355342;
    font-weight: bold;
    margin-bottom: 50px;
}

.type-group {
    display: flex;
    justify-content: center;
}
.type-card {
    width: 300px;
    height: 255px;
    border-radius: 20px;
    margin: 0 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;

}

.type-group .type-name {
    height: 150px;
    margin: 28px;
    font-size: 30px;
}

.type-group .type-num {
    margin-left: 28px;
    font-size: 18px;
}

.type-foliage {
    background-image: url(/Plant-Shop-Website/assets/img/Rectangle_13.png);
    background-position: center;
    background-size: cover;
}
.type-pucculent {
    background-image: url(/Plant-Shop-Website/assets/img/Rectangle_13-1.png);
    background-position: center;
    background-size: cover;
}
.type-flower {
    background-image: url(/Plant-Shop-Website/assets/img/Rectangle_13-2.png);
    background-position: center;
    background-size: cover;
}
.type-fruit {
    background-image: url(/Plant-Shop-Website/assets/img/Rectangle_13-3.png);
    background-position: center;
    background-size: cover;
}